
defaults:
  - _self_
  - target_function: sac
  - search_space: sac
  - override hydra/sweeper: HyperPB2

hydra:
  sweeper:
    budget: ${algorithm.total_timesteps}
    budget_variable: algorithm.total_timesteps
    loading_variable: load
    saving_variable: save
    sweeper_kwargs:
      optimizer_kwargs:
        population_size: 2
        config_interval: 1e4
        categorical_mutation: "mix"
      checkpoint_tf: true
      load_tf: true
    search_space: ${search_space}
  run:
    dir: ./tmp/sac_pb2/
  sweep:
    dir: ./tmp/sac_pb2/