name: pre-commit

on:
  # When a push occurs on either of these branches
  push:
    branches:
      - main
      - development

  # When a push occurs on a PR that targets these branches
  pull_request:
    branches:
      - main
      - development

env:
  package-name: "hypersweeper"
  test-dir: tests
  UV_SYSTEM_PYTHON: 1

jobs:
  run-all-files:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        # Install a specific version of uv.
        version: "0.6.14"
        
    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install
    - name: Run pre-commit
      run: |
        pre-commit run --all-files
